* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  flex: 1;
  font-family: 'Inter', sans-serif;
}
html {
  background: url(././assets/Images/background.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #cccccc;
  padding-top: 7vh;
}

.container {
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 4rem;
}
