* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff, green);
  min-height: 100vh;
}

.backgroundImg {
  width: '50%';
}
